<table >
  <tr>
    <td><%= link_to question.title, question_path(question) %></td>
    <td><%= pluralize(question.votes.count, "vote")%></td>
    <td><%= button_to '+1', upvote_question_path(question), method: :post, remote: true %></td>
    <td><%= button_to '-1', downvote_question_path(question), method: :post, remote: true %></td>
  </tr>
</table>